@import './variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

input {
    background-color: transparent;
    outline: none;
    border: none;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    min-width: 320px;
    background-color: #ffffff;
    font-family: 'Rubik', 'Istok Web', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: black;
    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    overflow: hidden;
}

.font-Istok {
    font-family: 'Istok Web', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.button_buy {
    border-radius: 15px;
    background: linear-gradient(90deg, #fdd446 0%, #f69b47 100%);
}
.pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Istok Web', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    font-weight: 700;
    font-size: 18px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page-link {
        width: 40px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        vertical-align: middle;

        &.active {
            background-color: #fdd446;
        }
    }
}

.line_star {
    background-color: rgba(0, 0, 0, 0.5);
    height: 1px;
    position: relative;
    margin-top: 20px;

    .star_image {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-23px);
    }
}

.circle {
    position: absolute;
    border-radius: 100%;
    background: rgba(253, 212, 70, 0.5);
    z-index: -1;

    &.circle_bottom {
        bottom: 0;
        left: 50%;
        width: 768px;
        height: 768px;
        filter: blur(190px);
        transform: translateX(-50%) translateY(30%);
    }
    &.circle_center {
        bottom: 50%;
        left: 100%;
        width: 550px;
        height: 550px;
        filter: blur(137px);
        transform: translateX(-50%) translateY(50%);
    }
    &.circle_top {
        top: 0;
        left: 0;
        width: 350px;
        height: 350px;
        filter: blur(90px);
        transform: translateX(-50%) translateY(50%);
    }
}
